org_id             = "123456789012"
billing_account_id = "XXXXXX-XXXXXX-XXXXXX"
domain             = "yourdomain.com"
prefix             = "abc"
region             = "us-central1"
github_repo        = "your-github-username/your-repo-name"
